/* This is how to comment
 in CSS */

 /* this is a comment in css  */


​
/* @import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
​
/* {
    background-color:azure;
    box-sizing: border-box;
    padding: 25px;
}
​
h1 {
    color: rebeccapurple;
    font-size: 64px;
    font-family: 'Akronim', cursive;
    text-align: center;
}
h2 {
    text-align: center;
}
.red-heading {
    color: red;
}
.blue-heading {
    color: blue;
    width: 50%;
    
}
​
.extra-info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-style: italic;
}
#extra-info-box {
    background-color: rgb(255, 99, 71);
    opacity: 20%; */

 * {background-color:rgb(255, 242, 169);
    box-sizing: border-box;
    padding: 10px;
}

.banner {
justify-content: center;
/* width: 500;
height: 150; */
display: flex;
padding: 10px,10px,10px,10px ;
}

.nav-container{
    padding: 10px;
}

.nav-bar {
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    font-family: 'Comfortaa', arial;
    color:#229AFF;
    flex-direction: row;
    justify-content:space-evenly;
    width: auto;
    /* padding:10px; */
    font-size: 30px;
}

.navbutton{
    display: flex;
}

.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
    flex: 50%;
    max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    flex: 100%;
    max-width: 100%;
}
}

h2 {
    color:rgb(255, 255, 255);
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    margin-left: auto;
    font-family: 'Comfortaa', arial;
    padding: 25px;
    /* width: 300px;
    height: 100px; */
    border: 1px ;
    /* border-radius: 15px; */
    margin-right: auto;
    background-color: #229AFF ;
}
.button {
    padding: 15px 25px;
    font-size: 20px;
    font-family: 'Comfortaa', arial;
    text-align: center;
    font-weight: bold;
    cursor: auto;
    outline: none;
    color: #fff;
    background-color: #229AFF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #125e9c}

.button-active {
    background-color: #1e20aa;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

/* Google fonts */
.bunnyblue {
    /* background-color:rgb(4, 57, 232); */
    font-family: 'Comfortaa', arial;
    color:#229AFF;
    font-style: bold;
    text-align: center;
    font-size: 60px;
    border-radius: 15px;
}

.bunnyblue2 {
    /* background-color:rgb(4, 57, 232); */
    color:#229AFF;
    font-style: bold;
    text-align: center;
    font-family: 'Comfortaa', arial;
    border-radius: 15px;
    font-size: 20px;
}

.bunnyheading{
    color:rgb(177, 60, 60);
    font-weight: bold;
    font-family: 'Comfortaa', arial;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
}

.bunnypar{
    color:#229AFF;
    text-align: justify;
    font-family: 'Comfortaa', arial;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.bunnyblue3 {
    /* background-color:rgb(4, 57, 232); */
    color:#229AFF;
    font-style: bold;
    text-align: center;
    font-family: 'Comfortaa', arial;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    font-size: 30px;
}

iframe {
    min-height: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.center {
    display:flex;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    /* min-width: 400px;
    min-height: 600; */
    /* width: 100%;*/
    height: 400px;
    width: 600px;

}
.center2 {
    display:flex;
    /* color:rgb(255, 0, 0);
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    text-align: center; */
    justify-content: center;
    width: 600px;
    height:100%; 
    margin-left: auto;
    margin-right: auto;
}

.center3 {
    justify-content: center;
    display: flex;
}

.center4 {
    justify-content: center;
    display: flex;
    margin-left: auto;
}

.banner1 {
    display:flex;
    /* color:rgb(255, 0, 0);
    font-size: 20px;
    font-family: 'Comfortaa', arial;
    text-align: center; */
    justify-content:auto;
    height:auto;
    width:auto;
    margin-left: auto;
    margin-right: auto;

}

.banner2 {
    display:flex;
    justify-content:center;
    max-width: 100%;
}

.images {
    display:flex;
    /* color:rgb(255, 0, 0);
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    text-align: center; */
    justify-content: center;
    height: 60%;
    width:60%;
    margin-left: auto;
    margin-right: auto;

}

/* #name =  */

.container {
    display: flex;
    font-family: 'Comfortaa', arial;
    font-size: 60px;
    min-height: auto;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}
